.purple {
  background-color: rgb(61, 0, 61);
  color: white;
}

.violet {
  background-color: violet;
  color: white;
}

.red {
  background-color: rgb(231, 132, 132);
  color: black;
}

.orange {
  background-color: rgb(246, 205, 128);
  color: black;
}

.yellow {
  background-color: yellow;
  color: black;
}

.bright {
  background-color: white;
  color: black;
}
